*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:  #f1f5f8;
    font-size: 'Open Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: o auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password{
padding: 8px;
margin: 8px;
caret-color: transparent;
cursor:  pointer;
}
.password-button{
padding: 8px;
background-color: red;
border-color: aliceblue;
color: #f1f5f8 ;
cursor:  pointer;
border-radius:  12px;
margin: 2px;
}